body{
    color:darkgray;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    }

#beachimage{
    width:100%
}

#beachimage2{
    width:100%
}

#title{
    height:50px;
    font-size: 16px;
    margin-bottom:-22px;
    }

#aboutlink,#portfoliolink,#contactlink{
    color:darkgray;
    font-weight:900;
    font-size:15px;
}

#aboutme{
    height:50px;
    font-size: 32px;
}


.circleheadshot{
}

#circleheadshotimage{
    height:300px;
    width:300px;
}

#name{
    height:50px;
    font-size: 32px;
    margin-top:12px;
}

#paragraph1{
    font-size: 18px;
    padding-right:20%;
    padding-left:20%;
}

footer{
    opacity:0.20;
    margin-top:17px;
}

.githubimage{
    width:35px;
    height:35px;
    margin:7px;
}

.linkedinimage{
    width:35px;
    height:35px;
    margin:7px;
}

.stackoverflowimage{
    width:35px;
    height:35px;
    margin:7px;
}

.inmobi{
    width:300px;
    height:110px;
    margin-top:20px;

}

.aerserv{
    width:300px;
    height:110px;
    margin-top:20px;

}

.ten{
    width:300px;
    height:110px;
    margin-top:20px;
    
}

#inmobiimage,#aerservimage{
    width:322px;
    height:107px;
    opacity:.5;
}

#tenimage {
    width: 174px;
    height: 128px;
    margin-left: 70px;
    margin-top: -7px;
    opacity: .5;
}

#jobtitle{
    font-size: 28px;
    height:100px;
    padding-top:10px;
    color:darkgray;
}

#contactname,#contactemail,#contactmessage{
    font-size: 18px;
}

#send{
    font-size: 25px;
    color:darkgray;
    border-radius: 250px;
    border-color: darkgray;
}


